# Maven
target/

# Logs
*.log

# IntelliJ
.idea/
*.iml
*.iws
*.ipr



# Environment
.env
.env.* (si tu veux pas versionner)
orekit-data/

# Secrets locaux (credentials SpaceTrack, etc.)
**/application-secrets.properties

# Base de donnees H2 locale (dev)
data/

# Build
build/

# Temporary files
*.tmp
*.swp

# Node modules
node_modules/

# Fichiers de build
dist/
out-tsc/
tmp/
temp/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# System files
.DS_Store
Thumbs.db
